.nav-bar-emails {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-top: 10px;
  align-items: stretch;
  gap: 15px;
  margin-inline-start: 20px;
}

.nav-bar-emails>*{
  color: #3f403f;
  text-decoration: none;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 15px;
  border: 1px solid #475841;
  text-align: center;
  width: 60%;
  transition: 0.4s;
}


.nav-bar-emails>*:hover{
 background-color:#9fb8ad ;
}

.nav-bar-emails>a{
 display: flex;
 justify-content: space-evenly;
 text-transform: capitalize;
}



.nav-bar-emails *>span{
  /* margin-inline-start: 20px; */
  font-style: italic;
  text-transform: capitalize0;
  font-weight: 900;
}


