.note-txt{
    background-color: #f94144;
    border-radius: 10px;
}

.note-txt p{
    padding-left: 20px;
    padding-top: 20px;
}

.note-txt .input-container{
   display: none;
}
.note-txt .active {
    display: block;
}

.note-txt img {
    width: 1.875rem;
    height: 1.875rem;
    
}