.note-todo{
background-color: #f9c74f;
border-radius: 10px;
padding: 10px;
display: flex;
position: relative;
flex-direction: column;
height: 30%;
}

.note-todo h3{
    padding-top: 20px; 
    }

    .line-through{
        text-decoration: line-through;
    }


    .note-todo .input-container{
        display: none;
     }
     .note-todo .active {
         display: block;
     }

     
     .note-todo img {
        width: 1.875rem;
        height: 1.875rem;
        width: 1.25rem;
        height: 1.25rem;
        position: absolute;
        right: 0;
        margin-right: 5px;
        
    }


    .note-todo .note-nav{
        visibility: hidden;
    }

    .note-todo .active {
        display: flex;
    }
    


    .note-todo:hover .note-nav{
        visibility: visible;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    

    .note-todo .note-nav>*{
        margin-inline-start: 10px;
        cursor: pointer;
    }
    
    .note-todo .note-nav>button{
        border-radius: 10px;
        border: 0;
        background-color: inherit;
    }



    /* .note-txt{
        background-color: #f94144;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        position: relative;
        flex-direction: column;
    }
    
    .note-txt p{
       padding-top: 10px;
    }
    
    .note-txt .input-container{
        display: none;
    }
    .note-txt .active {
        display: flex;
    }
    
    
    .note-txt img {
        width: 1.25rem;
        height: 1.25rem;
        position: absolute;
        right: 0;
        margin-right: 5px;
    }
    
    .note-txt .note-nav{
        visibility: hidden;
    }
    
    
    .note-txt:hover .note-nav{
        visibility: visible;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    
    
    .note-txt .note-nav>*{
        margin-inline-start: 10px;
        cursor: pointer;
    }
    
    .note-txt .note-nav>button{
        border-radius: 10px;
        border: 0;
        background-color: inherit;
    } */